<div class="modal fade kl-modal-template" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="kl-modal-title modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="kl-modal-body" style="display: none;"></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 kl-modal-loading-info">
                        
                        <div class='progress active progress-sm'>
                            <div class='progress-bar progress-bar-striped' role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 100%'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="kl-modal-save btn btn-primary">保存</button>
                <button type="button" class="kl-modal-close btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
