
@{
    ViewBag.Title = "";
    ViewBag.PageHead = "Welcome";
}

<div class="jumbotron">
    <div class="container">
        <h1>库存管理系统</h1>
        <p>本系统适用于零售业企业的销售管理、库存管理等</p>  
        <p>通过本系统可以对销售、库存等信息进行有效的管理</p>      
    </div>
</div>